<main>
  <div class="valign-wrapper">
    <h1 class="valign center-align text-center">CONTACT!</h1>
  </div>
  <div class="row">
	  <div class="col s12 m4 12"></div>
	  	<div class="col s12 m4 18">
	  	  <div class="input-field">
			  <form class="center-align" method='post' action='http://formspree.io/multishifties@yahoo.com'>
			  	<input type="text" name="sender_name" placeholder ="Your Name"/>
			  	<input type="email" name="email" placeholder ="Email"/>
			  	<input type="text" name="subject" placeholder ="Subject"/>
				<textarea name="message" placeholder="Your message here"></textarea>
				<button type="submit">Send</button>
			  </form>
		  </div>
		</div>
	  <div class="col s12 m4 12"></div>
  </div>
</main>