<header class="text-center">
  <div class="valign-wrapper">
    <h1 class="valign center-align">CONTACT!</h1>
  </div>
  <div class="row">
  <div class="col s12 m4 12"></div>
  	<div class="col s12 m4 18">
	  <form class="center-align" method='post' action='/contact'>
	  	<input type="text" name="sender_name" placeholder ="Your Name"/>
	  	<input type="email" name="email" placeholder ="Email"/>
	  	<input type="text" name="subject" placeholder ="Subject"/>
		<textarea type="text" name="text" placeholder="Your message here"></textarea>
		<button type="submit">Send</button>
	  </form>
	</div>
	<div class="col s12 m4 12"></div>
  </div>
</header>