<main class="text-center">
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Our Appologies</h1>
      <div class="row center">
        <h5 class="header col s12 light">It appears that the page you're looking for has been removed, renamed, or simply doesn't exist.</h5>
      </div>
      <div class="row center">
        <a href="/home" id="download-button" class="btn-large waves-effect waves-light orange">Click here to return home</a>
      </div>
      <br><br>

    </div>
  </div>
</main>