<main class="text-center">
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Our Fences</h1>
      <div class="row center">
        <h5 class="header col s12 light">A glorious, beautiful, and 100% digital gallery of ALL THE FENCES!!</h5>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <div class="center thumbnail-container">
              <a href="assets/img/iron1.jpg" data-lightbox="iron" data-title="caption1"><img class="gallery-thumbnail" src="assets/img/iron1.jpg"></a>
            <a href="assets/img/iron2.jpg" data-lightbox="iron" data-title="caption1"></a>
            </div>
            <h5 class="center">Iron fences</h5>

            <p class="light">Some people like iron fences. They're stylish. Did I mention we make the best fences?? </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <div class="center thumbnail-container">
              <a href="assets/img/privacy1.jpg" data-lightbox="privacy" data-title="caption1"><img class="gallery-thumbnail" src="assets/img/privacy1.jpg"></a>
            <a href="assets/img/privacy2.jpg" data-lightbox="privacy" data-title="caption1"></a>
            <a href="assets/img/custom1.jpg" data-lightbox="privacy" data-title="caption1"></a>
            </div>
            <h5 class="center">Taller fences</h5>

            <p class="light">Hey, some people like their privacy more than you do! Deal with it.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <div class="center thumbnail-container">
              <a href="assets/img/plankwood1.jpg" data-lightbox="plankwood" data-title="caption1"><img class="gallery-thumbnail" src="assets/img/plankwood1.jpg"></a>
            <a href="assets/img/plankwood2.jpg" data-lightbox="plankwood" data-title="caption1"></a>
            <a href="assets/img/plankwood3.jpg" data-lightbox="plankwood" data-title="caption1"></a>
            <a href="assets/img/plankwood4.jpg" data-lightbox="plankwood" data-title="caption1"></a>
            </div>
            <h5 class="center">Classy Fences</h5>

            <p class="light">Look at this picture! It's like the stairs of fences!</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m5">
          <div class="center thumbnail-container">
            <a href="assets/img/animal1.jpg" data-lightbox="animal" data-title="caption1"><img class="gallery-thumbnail" src="assets/img/animal1.jpg"></a>
            <a href="assets/img/animal2.jpg" data-lightbox="animal" data-title="caption1"></a>
            <a href="assets/img/animal3.jpg" data-lightbox="animal" data-title="caption1"></a>
            <a href="assets/img/animal4.jpg" data-lightbox="animal" data-title="caption1"></a>
          </div>
           <h5 class="center">OH MY GOD IT'S SO CUTE!</h5>
           <p class="light">Look at the puppy!! It's a corgi! This should be our mascot! Everybody loves furry cuddly animals!</p>
        </div>
        <div class="col m2"></div>
        <div class="col s12 m5">
          <div class="center thumbnail-container">
            <a href="assets/img/amen1.jpg" data-lightbox="amen" data-title="caption1"><img class="gallery-thumbnail" src="assets/img/amen1.jpg"></a>
            <a href="assets/img/amen2.jpg" data-lightbox="amen" data-title="caption1"></a>
            <a href="assets/img/amen3.jpg" data-lightbox="amen" data-title="caption1"></a>
          </div>
          <h5 class="center">Maximum level classy home</h5>
           <p class="light">I'll bet you wish you home was this fancy. This is what a badass livingroom looks like.</p>
        </div>
      </div>
    </div>
    <br><br>

    <div class="section">

    </div>
  </div>
</main>