<main class="text-center">
  <div class="row center">
    <img class="center col l12 m12 s12" id="wide-img" src="assets/img/custom1.jpg">
  </div>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <div class="row center">
        <img class="stubs-logo center col l12 m12 s12" src="assets/img/SmallLogo.jpg">
      </div>
      <div class="row center">
        <h5 class="header col s12 light">We make fences! The best fences! Our fences are gonna be HUUUGE!</h5>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">business</i></h2>
            <h5 class="center">Locally owned business</h5>

            <p class="light">Look at that text! Would anyone use that? Can you imagine that, the text of your next webpage?! I’m the best thing that ever happened to placeholder text. An ‘extremely credible source’ has called my office and told me that Barack Obama’s placeholder text is a fraud. We are going to make placeholder text great again. Greater than ever before.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">star</i></h2>
            <h5 class="center">Top rated by our clients</h5>

            <p class="light">I will write some great placeholder text – and nobody writes better placeholder text than me, believe me – and I’ll write it very inexpensively. I will write some great, great text on your website’s Southern border, and I will make Google pay for that text. Mark my words. My text is long and beautiful, as, it has been well documented, are various other parts of my website.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">phone</i></h2>
            <h5 class="center">Free over the phone estimates</h5>

            <p class="light">I know words. I have the best words. My placeholder text, I think, is going to end up being very good with women. I think the only difference between me and the other placeholder text is that I’m more honest and my words are more beautiful.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>
</main>